@import url("/style/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Alfa+Slab+One&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    font-family: "Zalando Sans";
}

body {
    background-color: rgb(187, 200, 230);
}

h1 {
    font-size: max(3vh, 2vw);
    text-align: center;
    font-weight: 600;
    margin-bottom: 2vh;
}

footer {
    width: 100%;
    height: 20vh;
    background-color: rgb(34, 41, 78);
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    color: white;
    width: 90%;
    margin: auto;
    font-size: 1.5vh;
    font-weight: 300;
}

em, i {
    font-style: italic;
}

.alan {
    font-family: "Alan Sans";
    font-weight: 650;
}

.alfa-slab {
    font-weight: "Alfa Slab One";
}

header {
    width: 100vw;
    height: 5vh;
    /* background-color: magenta; */
    overflow: hidden;
    margin-top: 1vh;

    margin-bottom: 2vh;
}

header a {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    /* background-color: blue; */
    text-decoration: none;
    margin-left: 1vw;
}

header a h1 {
    font-size: max(2vh, 1.5vw);
    color: white;
    text-decoration: none;
    height: 100%;
    /* background-color: aqua; */
    padding: 0.5%;
    text-shadow: #000000 4px 0 1px;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
}

header a h1 span:nth-child(odd) {
    text-shadow: #ff7979 4px 0 1px;
}
header a h1 span:nth-child(even) {
    text-shadow: #79b3ff 4px 0 1px;
}

header a img {
    height: 100%;
    width: auto;
    /* background-color: brown; */
}

hr {
    border-style: solid;
    width: 30%;
    margin-left: 0;
}

i, em {
    font-style: italic;
}

b, strong {
    font-weight: 600;
}