@import url("main.css");

main {
    width: calc(100% - min(25vw, 30vh));
    margin: auto;
}

.title h1 {
    text-align: left;
}

h2 {
    font-size: max(1.5vh, 1vw);
    font-weight: 600;
    margin-top: 2vh;
}

p {
    margin-bottom: 1vh;
}

body {
    overflow-x: hidden;
}